.ml10 {
  margin-left: 10px;
}

.fs14 {
  font-size: 14px;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.red {
  color: #c21f31;
}

.bold {
  font-weight: bold;
}

.red {
  color: #c21f31;
}
.pl10 {
  padding-left: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mbt10 {
  margin-top: 10px;
  margin-bottom: 10px;
}


