/*! 全局样式 谨慎些*/

html {
  line-height: 1.5;
  font-size: 16px;
  color: #333;
}

.flex {
  display: flex;
}

.flex1{
  flex: 1;
}

.fac {
  display: flex;
  align-items: center;
}

mlr10 {
  margin: 0 10px;
}

.fjc {
  display: flex;
  justify-content: center;
}

.fajc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ml10.ml10 {
  margin-left: 10px;
}

.ml20.ml20 {
  margin-left: 20px;
}

.mr10.mr10 {
  margin-right: 10px;
}

.mt10.mt10 {
  margin-top: 10px;
}

.mb10.mb10 {
  margin-bottom: 10px;
}

.mlr20 {
  margin-right: 20px;
  margin-left: 20px;
}

.mt20.mt20 {
  margin-top: 20px;
}

.mtb20.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mtb10.mtb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.with80 {
  width: 80px;
}

.plf10 {
  padding-left: 10px;
  padding-right: 10px;
}

.inputPadding input {
  padding: 10.5px 14px;
}

.bb {
  border-bottom: 1px solid #e7e7e7;
}
.bt{
  border-top: 1px solid #e7e7e7;
}