.title {
    font-size: 8px;
    text-anchor: middle;
    dominant-baseline: middle;
    cursor: pointer;
}

body {
    margin: 0;
}

.title::placeholder {
    color: gray;
}

.svg {
    width: 100vw;
    height: 100vh;
}

.svg-text {
    fill: red;
    font-size: 6px;
    text-anchor: middle;
    dominant-baseline: middle;
    cursor: pointer;
}

g,
text,
rect {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    width: 100vw;
    height: 100vh;
}